<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
    <title>Document</title>
    <script>
 // var objectURL = URL.createObjectURL(myBlob);
   //  document.querySelector("#image").src = 'WhatsApp Image 2021-09-15 at 15.03.27.jpeg';

        function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#fingerprintImage')
        .attr('src', e.target.result)
        .width(200)
        .height(250);
    };
    reader.readAsDataURL(input.files[0]);
  }
}</script>
</head>
<body>

     <nav>
        <h4>Fingerprint Voting System</h4>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <div class = "container mt-4">
       <div class="card" >
          <div class="card-header">
             Verify fingerprint Dection
          </div>
    
              <img id="fingerprintImage" src="#" alt="your fingerprint"/>
     
          <div class="card-body">

              <form action="/auth/fingerprintDection"  method="POST" enctype="multipart/form-data">
                   <div class="mb-3 m-1">
              
                   <input class="form-control" type="file" id="fingerprint" name="fingerprintUpload" onchange="readURL(this);" required>
                   </div>
                   
                <button type="submit" class="btn btn-primary">Verify</button>
               </form>
           </div>
          {{#if message}}
             <h4 class="alert alert-danger mt-4">{{message}}</h4>
           {{/if}}
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
crossorigin="anonymous"></script>


    
</body>
</html>