.103_2 { 
	overflow:hidden;
}
.e103_2 { 
	background-color:rgba(255, 255, 255, 1);

	height:1464px;
	position:absolute;
}
.e104_9 { 
	background-color:rgba(97.49503165483475, 0, 131.74999594688416, 1);
	width:1168px;
	height:100px;
	position:absolute;
	left:-16px;
	top:804px;
}
.e104_8 { 
	color:rgba(255, 255, 255, 1);
	width:866px;
	height:42px;
	position:absolute;
	left:143px;
	top:833px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.text{
left: 1000px;
top: -500px;
border-radius: nullpx;

	position: absolute;
width: 365px;
height: 353px;

font-family: Passero One;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 57px;

color: #000000;

}

.e103_6 { 
	width:698px;
	height:455px;
	position:absolute;
	left:0px;
	top:162px;
	background-image:url(/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e105_17 { 
	width:22px;
	height:308px;
	position:absolute;
	left:146px;
	top:1018px;
}
.e105_16 { 
	color:rgba(0, 0, 0, 1);
	width:21px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e105_23 { 
	color:rgba(0, 0, 0, 1);
	width:21px;
	height:42px;
	position:absolute;
	left:1px;
	top:266px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e105_18 { 
	width:21px;
	height:42px;
	position:absolute;
	left:146px;
	top:1150px;
}
.e105_19 { 
	color:rgba(0, 0, 0, 1);
	width:21px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.105_10 { 
	border:1px solid rgba(97.49503165483475, 0, 131.74999594688416, 1);
}
.e105_10 { 
	width:94px;
	height:91px;
	position:absolute;
	left:110px;
	top:993px;
}
.105_21 { 
	border:1px solid rgba(97.49503165483475, 0, 131.74999594688416, 1);
}
.e105_21 { 
	width:94px;
	height:91px;
	position:absolute;
	left:110px;
	top:1122px;
}
.105_22 { 
	border:1px solid rgba(97.49503165483475, 0, 131.74999594688416, 1);
}
.e105_22 { 
	width:94px;
	height:91px;
	position:absolute;
	left:110px;
	top:1259px;
}
.e105_12 { 
	color:rgba(0, 0, 0, 1);
	width:846px;
	height:84px;
	position:absolute;
	left:239px;
	top:997px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e105_13 { 
	color:rgba(0, 0, 0, 1);
	width:867px;
	height:84px;
	position:absolute;
	left:239px;
	top:1138px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e105_15 { 
	color:rgba(0, 0, 0, 1);
	width:840px;
	height:84px;
	position:absolute;
	left:239px;
	top:1272px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
nav{

    background-color: purple;
    color: white;
    padding: 30px  60px;
    display: flex;
    justify-content: space-between;
}

nav ul{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}

nav li a{
    color: white;
    text-decoration: none ;
    font-weight: bold;
    padding: 5px 8px;

}

nav li a:hover{
    color: yellow;
}


