nav{

    background-color: purple;
    color: white;
    padding: 30px  60px;
    display: flex;
    justify-content: space-between;
}

nav h4 a{
    color: white;
    text-decoration: none ;
    font-weight: bold;
}

nav ul{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}

nav li a{
    color: white;
    text-decoration: none ;
    font-weight: bold;
    padding: 5px 8px;

}

nav li a:hover{
    color: yellow;
}